# Environment / secrets
.env

# Virtual environments
venv/
env/
.venv/
.virtualenv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VCS
.git
.gitignore

# OS / editor junk
.DS_Store
.vscode/
.idea/
